.main-title{
    font-family: Segoe, serif;
    color: #576BFF;
    font-size: clamp(3.2em, 10vw, 10em);
    line-height: 0.8;
}

.sub-title{
    font-weight: 500;
    font-family: 'Calibri', sans-serif;
    font-size: clamp(1.5em, 3.2vw, 2.4em);
    line-height: 1;
    padding-top: max(1vw, 0.4em);
    padding-bottom: max(5vw, 2em);
}


.text {
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: clamp(1.5em, 3vw, 1.6em);
    display: inline;
    vertical-align: middle;
}

.name{
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: clamp(1.5em, 3.2vw, 2.8em);
    color: #576BFF;
    line-height: 1;
}

.icon-global {
    width: max(2.2vw, 1.5em);
    height: max(2.2vw, 1.5em);
}

.smile{
    height: max(2vw, 1.1em);
}


a.noStyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.noStyle:visited {
    text-decoration: inherit;
    color: inherit;
}