.main-title{
    font-family: Segoe, serif;
    color: #576BFF;
    font-size: max(10vw, 3.7em);
    line-height: 0.8;

}

.sub-title{
    font-weight: 500;
    font-family: 'Calibri', sans-serif;
    font-size: max(3.2vw, 1.5em);
    line-height: 1;
    padding-top: max(1vw, 0.4em);
    padding-bottom: 10vw;
}

.text {
    font-family: 'Calibri', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: max(3vw, 1.5em);
    display: inline;
    vertical-align: middle;
}

.name{
    font-family: 'Calibri', sans-serif;
    font-weight: bold;
    font-size: max(3.2vw, 1.8em);
    color: #576BFF;
    line-height: 1;
}

.icon {
    width: max(2.2vw, 2em);
    height: max(2.2vw, 2em);
}

.smile{
    height: max(2vw, 1.1em);
}


a.noStyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.noStyle:visited {
    text-decoration: inherit;
    color: inherit;
}