

.stats-card {
    width: auto;
    font-family: "Bahnschrift SemiLight Condensed", sans-serif;
    font-stretch: condensed;
    text-align: center;
    padding-top: 5px;
    font-size: clamp(1.2em, 2.1vw, 1.6em);
}

.img-size{
    width: 100%;
}

.card-player{
    width: max(33%, 9em)!important;
    padding: 2vw 0 2vw 0!important;
}

.pad-teem{
    gap: 5px;
    padding: max(3vw, 2em) 0;
 }

.tab{
    padding-left: clamp(0px, calc(calc(100vw - 700px) * 0.1), 20%)
}

 .icons{
     display: flex;
     justify-content: start;
 }

 @media screen and (max-width: 800px) {
     .icons {
         display: flex;
         justify-content: space-around;
     }
 }

.empty{
    color: transparent!important;
    cursor: default;
    pointer-events: none;
    user-focus: none;
    user-select: none;
}