@font-face {
    font-family: "Bahnschrift SemiLight Condensed";
    src: url("data/fonts/Bahnschrift.ttf") format("truetype");
}
@font-face {
    font-weight: 700;
    font-family: Segoe;
    src: url("data/fonts/Segoe.ttf") format("truetype");
}

body {
    background-color: #09002A !important;
    color: aliceblue !important;
}

.main {
    padding: max(2%, 1.9em) max(4%, 1.9em);
    background-color: rgba(255, 255, 255, 0.3);
    background-image: radial-gradient(#2942FF 70%, transparent 70%);
    background-repeat: no-repeat no-repeat;
    background-size: max(1vw, 0.5em) max(1vw, 0.5em);
    background-position: right max(3vw, 1em) top max(2vw, 1em);
    border-radius: max(2vw, 1em);
}

.gabs {
    width: 100%;
    background-image: radial-gradient(#192093 0%, transparent 70%), radial-gradient(#192093 0%, transparent 70%);
    background-repeat: no-repeat no-repeat;
    background-size: max(50vw, 30em) max(50vw, 30em), max(50vw, 30em) max(50vw, 30em);
    background-position: right min(-40vw, -24em) top , left min(-40vw, -24em) bottom ;
}

@media screen and (max-width: 800px) {
    .icons {
        display: flex;
        justify-content: space-around;
    }
}